body {
	font-family: Copperplate Gothic Light, serif;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
	
}

h1 {
	font-size: 65px;
	color: #000000;
}

h2 {
	color: #000000;
	font-size: 56px; 
}


html {
	background-image: url('Capture2.PNG');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


p {
	color: #DAA520;
	font-size: 2em;
}

.hero a {
	color: #00FFAA;
	font-size: 24px;
	text-decoration: none;
}

#footer {
	color: DarkSlateGray;
	font-size: 16px;
}


